.container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    
}

.button{
    padding: 10px 20px;
    background-color: #5d57c9;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
    
}
.button:disabled{
    background-color: #5d57c9;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
